/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------BODY-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

body {
    margin-top:0px;
    margin-left:0px;
    background-color: black;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------GRILLE---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid rgba(48, 122, 129, 0.111);
    width: 60px;
    height: 60px;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------HEADER---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
header{
    border: 2px solid red;
    background: linear-gradient(rgb(255, 0, 0), rgb(112, 2, 2));
    border-radius: 15%;
    width: 300px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

@font-face{
    font-family: 'Pixel-Miners';
    src: url(fonts/heaven-castro_pixel-miners/Pixel-Miners.otf)
}

h1{
    font-family: "Pixel-Miners", Arial;
    color:yellow;
    text-shadow: 3px 3px black;
    margin-right: 30px;
}

.yellowcircle {
    border:5px solid yellow;
    border-radius: 100%;
    background: yellow;
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 10px;
    margin-left: 100px;

}



span{
    font-family: "Pixel-Miners", Arial;
    color: red;
    margin-top: 15%;
    margin-left: 22%;
    font-size: 20px;
    text-shadow: 3px 3px 3px black;
}

.yellowcircle:active {
    animation: bounceTravel 6s ease-in infinite;
}

@keyframes bounceTravel {
    from {margin-top: 10px; margin-left: 100px; transform: rotate(0deg);}
    25% {margin-top: 70px; margin-left: 100px;transform: rotate(0deg);}
    29% {margin-top: 60px; margin-left: 100px;transform: rotate(0deg);}
    33% {margin-top: 70px; margin-left: 100px;transform: rotate(0deg);}
    37% {margin-top: 70px; margin-left: 100px;transform: rotate(0deg);}
    50% {margin-top: 70px; margin-left: -100px;transform: rotate(-720deg);}
    51% {margin-top: 70px; margin-left: -100px;transform: rotate(0deg);}
    to {margin-top: 70px; margin-left: -100px;transform: rotate(0deg);}
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ARROWS---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.arrow {
    display:flex;
    justify-content:space-around;
    width: 440px;
    color: yellow;
}

.material-icons:hover {
    color: blue;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    color: yellow;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
  }

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------TOKENS/JETONS--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.tokR{
    width: 60px;
    height: 60px;
    border-radius:50%;
    display:none;
}
.tokY{
    width: 60px;
    height: 60px;
    border-radius:50%;
    display:none;
}
.tok_red{
    background-image: url(images/redtoken.png)!important;
     width: 60px;
    height: 60px;
    border-radius:50%;
}
.tok_yellow{
    background-image: url(images/yellowtoken.png)!important;
    width: 60px;
    height: 60px;
    border-radius:50%;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------FORMULAIRE NOM DES JOUEURS---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#formPlayers{
  display:flex;
  flex-direction:column;
  margin:auto;
  justify-content:space-around;
  align-items:center;
  border: 2px solid;
  width:60%;
  height:60%;
  position:absolute;
  top:50%;
  bottom: 50%;
  z-index: 10;
  background-color:#64BFD7;
    border-radius: 10px;
}
#formTitle{
    font-family: 'Pixel-Miners';
}

#formPlayers>div{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
    width: 80%;
}
#formPlayers>div input{
    width:40%;
    height: 50px;
    border: none;
    font-size: 20px;
    font-family: 'Pixel-Miners';
    padding: 5px;
    border-radius: 10px;
    
}
#joueur1 , #joueur2{
  //border:2px solid red;
  width:200px;
  height:60px;
  color:yellow;
  text-align: center;
    line-height: 2.5;
    
}
#joueur1{
    color:red !important;
}
.J1{
    border: 2px red dotted;
    border-radius: 15px;
    transform:scale(1.3);
}
.J2{
    border: 2px yellow dotted;
    border-radius: 15px;
    transform:scale(1.3);
}
#noms{
    //border: 2px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:500px;
    margin:50px;
    
}
#play{
    width:100px;
    height:50px;
    font-size:20px;
    border-radius: 10px;
    font-family: 'Pixel-Miners';
}
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------RULES/REGLES DU JEU-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.rules {
    position: absolute;
    text-align: justify;
    width: 150px;
    height: 400px;
    right:110px;
    top: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
        
}

#rules {
    /* display: flex;
    justify-content: right; */
    padding-left: 81px;
    align-content: right;
    width: 69.75px;
    height: 54px;
}

#apparitionRegles{
    color:transparent;
}


.regles{
    transition-property: color;
    transition-duration: 3s;
    color:#64BFD7!important;
}


